<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Travel Guide App | Your Friendly Travel Companion</title>
    <meta
      name="Travel Guide App"
      content="An intelligent app which dynamically generate geographic and weather forecast information based on simple travel inputs."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav class="nav">
        <div class="logo"></div>
        <ul class="nav-bar">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="form-input-outer-wrapper">
      <div class="form-input-inner-wrapper">
        <!-- Input Fields: Departure/Return Dates -->

        <div class="wrapper-date">
          <!-- Input Field: Departure Date -->

          <input
            type="date"
            id="depart-date-input"
            name="depart-date-input"
            required
          />

          <!-- Date Partition Icon -->

          <div class="icon-wrapper">
            <i class="material-icons">arrow_right_alt</i>
          </div>

          <!-- Input Field: Return Date -->

          <input
            type="date"
            id="return-date-input"
            name="return-date-input"
            required
          />
        </div>

        <!-- Input Field: Destination -->

        <input
          type="text"
          name="destination-input"
          id="destination-input"
          placeholder="london"
          required
        />

        <!-- Input Field: User's Remarks -->

        <textarea
          name="remarks-input"
          id="remarks-input"
          rows="2"
          placeholder="remarks"
        ></textarea>

        <div class="list-hotel">
          <label for="hotel">Choose a hotel</label>
          <select name="hotel" id="hotel">
            <option value="one star">one star</option>
            <option value="two star">two star</option>
            <option value="three star">three star</option>
            <option value="four star">four star</option>
            <option value="five star">five star</option>
          </select>
        </div>

        <!--form  -->

        <div class="form-wrapper">
          <div class="form">
            <!-- form todo -->
            <form id="todo-form">
              <input
                type="text"
                name="todo-input"
                id="todo-input"
                placeholder="Enter a todo"
              />
              <button type="submit">Add Todo</button>
            </form>
            <ul id="todo-list"></ul>
          </div>
          <!-- packing list  -->
          <div class="form">
            <form id="packing-form">
              <input
                type="text"
                name="packing-input"
                id="packing-input"
                placeholder="Enter a packing"
              />
              <button type="submit">Add Packing</button>
            </form>
            <ul id="packing-list"></ul>
          </div>
        </div>

        <!-- Generate Button -->

        <input
          type="submit"
          name="generate-travel-info"
          value="generate"
          class="generate-button"
        />

        <div class="loading"></div>
      </div>
    </section>

    <!-- Section: Form Output -->

    <section class="print-area">
      <div class="form-output-outer-wrapper">
        <div class="form-output-inner-wrapper">
          <!-- Output Header -->

          <div class="output-header">
            <!-- Geographic Meta -->

            <div class="destination-meta">
              <!-- Destination and Country -->

              <i class="material-icons">place</i>
              <div id="destination-name"></div>
              <div id="country-name"></div>

              <!-- Country Code, Time Zone, Population and About -->

              <div class="more-info">
                <!-- Country Code -->

                <div class="sub-item">
                  <i class="fa-solid fa-hotel material-icons"></i>
                  <div class="hotel-output"></div>
                </div>

                <div class="sub-item">
                  <i class="material-icons">code</i>
                  <div id="country-code"></div>
                </div>

                <!-- Time Zone -->

                <div class="sub-item">
                  <i class="material-icons">access_time</i>
                  <div id="time-zone"></div>
                </div>

                <!-- Population -->

                <div class="sub-item">
                  <i class="material-icons">people_outline</i>
                  <div id="population"></div>
                </div>

                <!-- About -->

                <div class="sub-item">
                  <i class="material-icons">my_location</i>
                  <div id="destination-description"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Dates -->

          <div class="dates-wrapper">
            <!-- Trip Days -->

            <div class="trip-day"></div>

            <div class="output-dates">
              <!-- Departure Date -->

              <div class="date-wrapper depart-date">
                <div class="heading">Departure</div>
                <div id="depart-date" class="output-date"></div>
              </div>

              <!-- High/Low Temp Icon -->

              <div class="icon-wrapper">
                <i class="material-icons">arrow_right_alt</i>
              </div>

              <!-- Return Date -->

              <div class="date-wrapper return-date">
                <div class="heading">Return</div>
                <div id="return-date" class="output-date"></div>
              </div>
            </div>
          </div>

          <!-- list of todo and packing -->

          <div class="list-wrapper">
            <ul id="list-todo-output">
              <p>Todo List:</p>
            </ul>
            <ul id="list-packing-output">
              <p>Packing List:</p>
            </ul>
          </div>

          <!-- Weather Info -->

          <div class="weather-wrapper"></div>

          <!-- Remarks -->
        </div>
      </div>
    </section>

    <!-- Buttons -->

    <section class="buttons">
      <!-- Close Button -->

      <button
        class="close-button"
        name="close-button"
        onclick="return Client.closeButton()"
      >
        <!-- <i class="material-icons">close</i> -->
        <i class="fa-solid fa-xmark"></i>
      </button>

      <!-- Print Button -->

      <button
        class="print-button"
        name="print-button"
        onclick="return Client.printButton()"
      >
        <i class="material-icons">print</i>
      </button>
    </section>

    <!-- Footer -->

    <footer>
      <div class="footer-wrapper">
        <!-- Copyright -->

        <div class="footer-copyright">
          <p>Ⓒ 2024 <a href="http://localhost:8080/">Travel Guide App</a></p>

          <p></p>
        </div>

        <!-- API Credit -->

        <div class="footer-credit">
          <p>
            API by
            <a href="https://www.geonames.org/" rel="noopener" target="_blank"
              >Geonames</a
            >
            •
            <a href="https://www.weatherbit.io/" rel="noopener" target="_blank"
              >WeatherBit</a
            >
            •
            <a href="https://pixabay.com/" rel="noopener" target="_blank"
              >Pixabay</a
            >
          </p>

          <p></p>
        </div>

        <!-- Developer Info -->

        <div class="developer-info">
          <p>
            App Developed by
            <a href="#" rel="noopener" target="_blank">DungHM3</a>
          </p>
        </div>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/17acd0db5e.js"
      crossorigin="anonymous"
    ></script>
    <script>
      // service worker
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker
            .register("/service-worker.js")
            .then(function () {
              console.log("Service Worker Registered");
            });
        });
      }
    </script>
    <script>
      // Get all input fields
      const inputFields = document.querySelectorAll(
        'input[type="text"], textarea, input[type="date"], select'
      );

      // Add event listeners to input fields
      inputFields.forEach((input) => {
        input.addEventListener("input", () => {
          // Get the input field name and value
          const name = input.getAttribute("name");
          const value = input.value;

          // Store the value in localStorage
          localStorage.setItem(name, value);
        });
      });

      // Retrieve old values from localStorage and set them as initial values
      inputFields.forEach((input) => {
        const name = input.getAttribute("name");
        const oldValue = localStorage.getItem(name);

        if (oldValue) {
          input.value = oldValue;
        }
      });
    </script>
  </body>
</html>
